{% if worker %}
<div>
  <h1>{{}}</h1>
  <form action="{% url 'tracker:new-task' worker_id %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>
        <h1>Новое задание</h1>
      </legend>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <label for="receiver">Receiver</label> <select id="receiver" name="receiver" required>
        <option value="">-- select worker --</option> {% for worker in workers %} <option value="{{ worker.id }}" {% if
          task and task.receiver_id==worker.id %} selected{% endif %}>{{ worker }}</option> {% endfor %}
      </select>

      <label for="pub_date">Дата создания</label>
      <input type="datetime-local" id="pub_date" name="pub_date"
        value="{% if task %}{{ task.pub_date|date:'Y-m-d\\TH:i' }}{% endif %}" />

      <label for="due_date">Дата дедлайна</label>
      <input type="datetime-local" id="due_date" name="due_date"
        value="{% if task %}{{ task.due_date|date:'Y-m-d\\TH:i' }}{% endif %}" />

      <label for="status">Статус</label>
      <select id="status" name="status" required>
        {% for s in 'created,received,done,deleted'.split(',') %}
        <option value="{{ s }}" {% if task and task.status==s %} selected{% endif %}>{{ s }}</option>
        {% endfor %}
      </select>

      <label for="title">Название</label>
      <input type="text" id="title" name="title" maxlength="200" value="{% if task %}{{ task.title }}{% endif %}" />

      <label for="desc">Описание</label>
      <textarea id="desc" name="desc" maxlength="1000" rows="4">{% if task %}{{ task.desc }}{% endif %}</textarea>
    </fieldset>
  </form>
</div>
{% else %}
<p>no such worker</p>