<!DOCTYPE html>
{% load tailwind_cli %}
<html>
  <head>
    {% tailwind_css %}
  </head>

  <body>
    <header class="top">
      <div class="top-0 sticky h-14 bg-blue-300 inline-flex w-full items-center p-4">
        <a class="text-xl rounded-sm border px-2" href="{% url 'tracker:task-list' %}">Список всех задач</a>
      </div>
    </header>
    <div class="grid">
      {% if workers %}
        {% for worker in workers %}
          <div class="item">
            <div class="worker">
              <p>
                &#128119;<a href="{% url 'tracker:worker-detail' worker.id %}">{{ worker }}</a>
              </p>
              <form action="{% url 'tracker:delete-worker' worker.id %}">
                <input type="submit" value="&#10060" />
              </form>
            </div>
          </div>
        {% endfor %}
      {% endif %}
      <form class="item form" action="{% url 'tracker:new-worker' %}" method="post">
        {% csrf_token %}
        <fieldset>
          <div class="form-text form-group field-title">
            <label for="title" class="form-text-label">Имя<span class="form-required">*</span></label>
            <input type="text" class="form-control" value="{{ task.title }}" name="title" access="false" maxlength="200" id="title" required="required" aria-required="true" />
          </div>
        </fieldset>
        <input class="form-submit" type="submit" value="Добавить" />
      </form>
    </div>
  </body>
</html>
